* {
  font-family: "Inter";
  font-family: "Manrope";
  font-family: "Poppins";
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

:root {
  --global-black-color: #3a3a3a;
  --global-red-color: #e02c6d;
  --global-footer-color: #0a0826;
}

.body {
  width: 80%;
  margin: 0 auto;
}

/* Header menu styles */
.header {
    margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header .logo {
  color: var(--global-black-color);
  font-family: poppins;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}

.menu ul {
  display: flex;
  gap: 34px;
  align-items: center;
  cursor: pointer;
}

ul li {
  list-style: none;
  color: var(--global-black-color);
  font-family: poppins;
  font-weight: 600;
}

/* Hero section styles */
.hero-section {
  display: flex;
  margin: 150px auto;
  align-items: center;
}

.hero-section .main-section {
  margin-right: 300px;
}

.main-section .main-title {
  font-size: 52px;
  font-family: poppins;
  font-weight: 700;
  width: 582px;
  color: var(--global-black-color);
  margin: 0px;
}

.main-section .main-drisciption {
  color: var(--global-black-color);
  font-family: poppins;
  font-weight: 600;
  width: 505px;
  margin: 16px 0px 16px 0px;
}

.main-button {
  color: white;
  border-radius: 41px;
  background: var(--global-red-color);
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border: none;
  font-family: poppins;
  font-weight: 600;
  cursor: pointer;
}

.fa-solid {
  margin-left: 10px;
}

.hero-section .main-images {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
}

.main-images img {
  padding: 30px;
  width: 90%;
}

/* Logo Carosol */
#logo-carosol {
  margin-bottom: 100px;
}
hr {
  background-image: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  height: 1px;
  border: none;
}

.logo-carosol {
  align-items: center;
  text-align: center;
}
.logo-carosol img {
  width: auto;
  margin: 42px 30px;
  cursor: pointer;
}
/* card section styles */
.card-product{
    margin-bottom: 100px;
}

.colletion-title {
  color: var(--global-black-color);
  font-family: poppins;
  font-weight: 600;
  font-size: 50px;
  text-align: center;

  margin-bottom: 60px;
}
.card{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.product-card {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.product-imags {
  width: 100%;
}

.product-card .card-title{
    font-family: poppins;
    font-weight: 500;
    font-size: 28px;
    color: var(--global-black-color);
    margin: 16px auto;
}
.ratting{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;

}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    
}
li{
    margin: 0;
    padding: 0;
}
.fa-solid{
    color: #FB8200;
    margin-left: 0;
}
.rattingg{
    color: #5E6366;
    font-family: roboto;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.product-card .price{
    font-family: inter;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: var(--global-black-color);
}
.product-card .product-price{
    font-family: inter;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
    width: 70%;
    line-height: 143%;
}
.product-button{
    margin-top: 50px;
    margin-left: 92%;
    color: var(--global-red-color);
    font-family: poppins;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
/* featured section styles */

.featured-product{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}
.featured-images{
    width: 50%;
}
#featured-images{
    display: block;
    width: 70%;
}
.featured-description{
    width: 50%;
}
.featured-title{
    color: var(--global-black-color);
    font-family: poppins;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
.featured-text{
    color: #6C6C6C;
    font-family: poppins;
    font-weight: 700;
    width: 50%;
    margin-bottom: 15px;
}
/* Footer section Styles */
.footer{
    background-color: var(--global-footer-color);
    align-items: center;
    text-align: center;
    color: white;
}
.footer-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin: 50px auto 10px auto;

    
}
.footer-text{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
}
.socail ul{
    justify-content: center;
    gap: 16px;
    font-size: 25px;
    align-items: center;
    padding-bottom: 50px;
    cursor: pointer;
    
}
.socail ul li{
    color: white;
    background-color: #3f3d55;
    width: 45px;
    height: 40px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
}


/* Mobile Style responsive */

@media screen and (max-width: 660px) {
  .header {
    flex-direction: column;
  }

  .header .logo {
    font-size: 16px;
  }

  .menu ul {
    gap: 10px;
    padding-left: 0px;
    margin-top: 0;
  }

  ul li {
    font-size: 12px;
  }

  .hero-section {
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: column-reverse;
  }

  .hero-section .main-section {
    margin-right: 0;
  }

  .main-section .main-title {
    font-size: 28px;
    width: 404px;
  }

  .main-section .main-drisciption {
    font-size: 14px;
    width: 90%;
    margin-left: 20px;
  }

  .hero-section .main-images {
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
  }
  #logo-carosol {
    margin: 50px 0px;
  }

  .logo-carosol img {
    width: 44px;
    margin: 20px 10px;
    cursor: pointer;
  }
  .colletion-title{
    font-size: 20px;
    margin: 20px auto;
  }
  .card-product{
    margin-bottom: 50px;
}
  .card{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.product-button{
    margin-top: 20px;
    margin-left: 65%;

}
.featured-product{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}
.featured-images{
    width: 100%;
}
#featured-images{
    width: 100%;
}
.featured-description{
    width: 100%;
    margin-bottom: 30px;
}
.featured-title{
    font-size: 24px;
}
.featured-text{
    width: 100%;
}
.socail ul .fa-brands{
    font-size: 20px;
    margin-top: 8px;
}
}

@media screen and (min-width: 660px) and (max-width: 990px) {
  .header {
    display: flex;
  }

  .header .logo {
    font-size: 18px;
  }

  .menu ul {
    gap: 20px;
    padding-left: 0px;
  }

  .hero-section {
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 14px;
  }

  .hero-section .main-section {
    margin: auto;
  }
  #logo-carosol {
    margin: 50px 0px;
  }

  .logo-carosol img {
    width: auto;
    margin: 20px 20px;
    cursor: pointer;
  }
  .colletion-title{
    font-size: 30px;
    margin: 30px auto;
  }
  .card-product{
    margin-bottom: 50px;
}
  .card{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.product-button{
    margin-top: 30px;
    margin-left: 65%;

}
.featured-product{
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}
.featured-images{
    width: 100%;
}
#featured-images{
    width: 100%;
}
.featured-description{
    width: 100%;
    margin-bottom: 30px;
}
.featured-title{
    font-size: 30px;
}
.featured-text{
    width: 100%;
}
}
